/* aquirvo da folha de estilo de todo o site */

body, ul {
margin:0px;
padding:0px;
}
#menu a {
    color:rgba(0, 0, 0, 0.87);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
#menu a:hover {
    background: rgb(199, 6, 6);
    font-size: 20px;
}
#logo {
    font-size: 1.5rem;
    }
    #logo img {
        height: 60px;
    }
    #logo img:hover{
        box-shadow: 2px 2px 4px #bd1111;
        transition: 0.3s;
    }
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
     box-shadow: 3px 3px 6px hsl(0, 93%, 29%); 
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
/* Fim CSS estilo header */
/* Início estilo carousel */

#carouselExampleInterval {
 position: relative;
 z-index: 10;
 padding-top: 10px;
 box-shadow: 3px 3px 6px hsl(0, 93%, 29%); 
}

/* Fim estilo carousel */
/* Início estilo Banner Home */
/* Para aplicar estilos na CLASS > utileze o ponto[ . ] antes do objeto */
/* Para aplicar estilos na ID > utileze o ponto[ # ] antes do objeto */
.section-banner-home {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    padding: 50px;
    background-color:rgb(112, 2, 2);
    box-shadow: 3px 3px 6px hsl(0, 93%, 29%); 
}
.section-banner-home img {
    max-height: 400px;
    width: 70%;
    display: block;
    margin: auto;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1{
    font-size: 30px;
    width: 60%; /* width = Largura */
    font-weight: 500; /* Espessura do Texto */
    padding-bottom: 20px; /* Margem interna > Embaixo */
    color:rgb(0, 0, 0)
    }
.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
    text-align: justify;
}
.section-banner-home .texto-banner a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(255, 36, 127);
    padding: 4px 14px;
    font-size: 15px;    
    }
.section-banner-home .texto-banner a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #ffffff7a;
    font-size: 18px;
    font-weight: bold;
}     


/* Fim estilo Banner Home */
/* Início Estílo Destaque */
.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color: #b11212;
    text-decoration: none;
    font-weight: bold;
    text-align:center;
}
.destaque #saiba-mais {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color:#ffffff;
    font-size: 18px;
    font-weight: bold;
    background: rgb(204, 153, 181);
    margin: 30px 0px;
    width: 25%;    
}
.destaque col-6 img:houver {
    box-shadow: 2px 2px 6px #c400007a;
    transition:  0.3s;
}
/* Fim Estílo Destaque */

/* Início estilo novidades */
.novidades .text-body {
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #bd111185;
    font-size: 26px;
    width: 70%;    
}
.novidades p {
    color:#a09595;
}
.novidades a {
    color:#ffffff;
    text-decoration: underline;
    padding:6px 12px;
    background-color: rgb(226, 169, 221);
    font-weight: 400;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color:#ffffff;
    font-size: 18px;
    font-weight: bold;
    background: rgb(204, 153, 181);
    margin: 30px 0px;
    width: 35%;  
}
/* Fim estilo novidades */
/* Início estilo galeria */
.galeria {
    margin: 60px auto 20px;
    /* Quado tivermos 4 valores no margin = top / right / botton / left> Exemplo: margin: 60px 60px 60px */
    /* Quando tivermos 3 valores = top / right and left / botton > Exemplo 60px auto 60px*/
    /* Quando tivermos 2 valores = top and botton / right and left > Exemplo:margin: 60px 30px */
    /* Quando tivermos 1 valore = top, botton, right and left serão indênticos > Exemplos:margin: 60px; */
    /* Essa regra se aplica também ao padding;. */
}
.galeria .container {
    margin-left: 11%;
}
.galeria h2 {
    text-align:  center;
    font-size: 24px;
    color: #ec86c2;
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
    color: #6e6767;
}
.galeria .gallery {
    width: 30%;
    margin:  14px auto 50px;
} 
.galeria .gallery  img {
    width: 80%;
    height: 80%;
    -webkit-transform: -webkit-transform .5s ease ;
    transition: transform .5s ease;
    display: block;
}
.galeria .gallery img:hover {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    box-shadow: 0 0 10px rgba(rgb(143, 2, 2), rgb(60, 0, 128), rgb(3, 3, 99), alpha);
}



/* Fim estilo galeria */