@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Metal+Mania&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Henny+Penny&family=Metal+Mania&family=Special+Elite&display=swap');

/* aquirvo da folha de estilo de todo o site */

body, ul, h2 {
margin:0px;
padding:0px;
font-family: 'Metal Mania', sans-serif;
}
#menu a {
    font-size: 22px;
    /* border-bottom-right-radius: 15px; */
    /* border-bottom-left-radius: 15px; */
    /* border-bottom: 4px solid #e4d07a; */
    color: rgba(134, 8, 8, 0.747);
     text-decoration: none;
     /* font-family: sans-serif; */
     font-family: 'Metal Mania', sans-serif;
     font-weight: 600;
     transition: 0.4s;
     text-align: center;
     padding: 0 0.4em 0.2em 0.4em; /* top - rigth - botton - left */
 }

#menu a:hover {
    /* background: rgba(0, 0, 0, 0.05); */
    font-size: 24px;
    /* border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius:15px; */
    /* border-collor: #006ccb; */
    border-left:  4px solid #770606;
    box-shadow: 1px 1px 2px #a5080885;

}
#logo {
    font-size: 1.5rem;
    }
    #logo img {
        height: 60px;
    }
    #logo img:hover{
        box-shadow: 2px 2px 4px #bd1111;
        transition: 0.3s;
    }
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
     box-shadow: 3px 3px 6px hsl(0, 93%, 29%); 
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
/* Fim CSS estilo header */
/* Início estilo carousel */

#carouselExampleInterval {
 position: relative;
 z-index: 10;
 padding-top: 10px;
 box-shadow: 3px 3px 6px hsl(0, 93%, 29%); 
}

/* Fim estilo carousel */
/* Início Estilo Media >>Mobile */
@media (max-width: 790px) {
    #menu{
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: #bd1111bd;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;        
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem;
        font: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;        
    }
    #hamburger {
        border-top: 2px solid;
        /* Para aumentar ou diminuir a espessura da linha do hamburger */
        width:  30px;
        /* Para alterar a largura do hamburge */
        color: #a5080885;
        /* Para alterar a cor do hamburge */
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        /* Altera a largura do hamburger, justamente com o width anterior */
        height: 2px;
        background: currentColor;
        margin-top:  4px;
        /* Altera o espaçamento, entre as linhas do hamburger */
        position: relative;
        border-top: 2px solid;
        /* Para diminuir e aumentar a espessura da linha do hamburger,juntamente com o border-top anterior */        
    }
    #nav.active #hamburger {
        border-top-color:transparent ;        
    }
    #nav.active #hamburger::before {
        transform:rotate(135deg) ;
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*Fim Estilo Media >>Mobile */


/* Início estilo Banner Home */
/* Para aplicar estilos na CLASS > utileze o ponto[ . ] antes do objeto */
/* Para aplicar estilos na ID > utileze o ponto[ # ] antes do objeto */
.section-banner-home {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    padding: 50px;
    background-color:rgb(112, 2, 2);
    box-shadow: 3px 3px 6px hsl(0, 93%, 29%); 
}
.section-banner-home img {
    max-height: 400px;
    width: 70%;
    display: block;
    margin: auto;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1{
    font-size: 30px;
    width: 60%; /* width = Largura */
    font-weight: 500; /* Espessura do Texto */
    padding-bottom: 20px; /* Margem interna > Embaixo */
    color:rgb(0, 0, 0)
    }
.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
    text-align: justify;
}
.section-banner-home .texto-banner a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(255, 36, 127);
    padding: 4px 14px;
    font-size: 15px;    
    }
.section-banner-home .texto-banner a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #ffffff7a;
    font-size: 18px;
    font-weight: bold;
}     


/* Fim estilo Banner Home */
/* Início Estílo Destaque */
.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color: #b11212;
    text-decoration: none;
    font-weight: bold;
    text-align:center;
}
.destaque #saiba-mais {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color:#ffffff;
    font-size: 18px;
    font-weight: bold;
    background: rgb(212, 153, 186);
    margin: 30px 0px;
    width: 25%;    
}
.destaque col-6 img:houver {
    box-shadow: 2px 2px 6px #c400007a;
    transition:  0.3s;
}
/* Fim Estílo Destaque */

/* Início estilo novidades */
.novidades .text-body {
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #bd111185;
    font-size: 26px;
    width: 70%;    
}
.novidades p {
    color:#a09595;
}
.novidades a {
    color:#ffffff;
    text-decoration: underline;
    padding:6px 12px;
    background-color: rgb(226, 169, 221);
    font-weight: 400;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color:#ffffff;
    font-size: 18px;
    font-weight: bold;
    background: rgb(204, 153, 181);
    margin: 30px 0px;
    width: 35%;  
}
/* Fim estilo novidades */
/* Início estilo galeria */
.galeria {
    margin: 60px auto 20px;
    /* Quado tivermos 4 valores no margin = top / right / botton / left> Exemplo: margin: 60px 60px 60px */
    /* Quando tivermos 3 valores = top / right and left / botton > Exemplo 60px auto 60px*/
    /* Quando tivermos 2 valores = top and botton / right and left > Exemplo:margin: 60px 30px */
    /* Quando tivermos 1 valore = top, botton, right and left serão indênticos > Exemplos:margin: 60px; */
    /* Essa regra se aplica também ao padding;. */
}
.galeria .container {
    margin-left: 11%;
}
.galeria h2 {
    text-align:  center;
    font-size: 24px;
    color: #ec86c2;
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
    color: #6e6767;
}
.galeria .gallery {
    width: 30%;
    margin:  14px auto 50px;
} 
.galeria .gallery  img {
    width: 80%;
    height: 80%;
    -webkit-transform: -webkit-transform .5s ease ;
    transition: transform .5s ease;
    display: block;
}
.galeria .gallery img:hover {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    box-shadow: 0 0 10px rgba(rgb(143, 2, 2), rgb(60, 0, 128), rgb(3, 3, 99), alpha);
}



/* Fim estilo galeria */
/* Início whatsapp */
.whatsapp {
    position: fixed;
    top: 800px;
    left: 15px;
    z-index: 200px;
}
.whatsapp img {
    height: 60px;
}
/* Início efeito pulse */
.whatsapp .pulse{
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse ;
    animation-name: pulse;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform:scale(1);
        -webkit-filter: brightness(100%);
    }
    100%{
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(110%);
    }
    }
     @keyframes pulse {
        0% {
            transform: scale(1);
            filter: brightness(100%);
        }
        100% {
            transform: scale(1.1);
            filter: brightness(110%);                     
        }
     }

/* Fim efeito pulse */

/* Fim whatsapp */

   /* Início estilo Footer (rodapé) */
   .rodape {
    padding: 50px 50px 0;
    
   }
   .rodape .container #logo-rodape img { 
    height: 50%;
    width: 50%;
    padding-left: 10px;
    transition: transform  .3s;
    display: block;
   }
   .rodape .container #logo-rodape img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.87) ;
   }
   .rodape .info-contato p {
    margin: 0;
   }
   .rodape .linkFooter {
    text-decoration: none;
    color: #ec86c2;
    font-size: 13px;
    margin-left: 0.7rem;
    }
    .rodape .linlFooter:hover {
        font-weight: bold;
    }
    .rodape .redes-sociais {
        display: inline-block;
    }
    .rodape .redes-sociais img {
        width: 50px;
        height: 50px;
        padding-left: 0;
        margin-left: 0.8rem;
        transition: transform .3s;
        border-radius: 15px;
    /* border-radius = Arredondando as extremidades da forma */
    }
    .rodape .redes-sociais img:hover {
        z-index: 1;
        transform:scale(1.5);
        box-shadow:0 0 10px rgba(0,0,0,0.446)        
    }
    .rodape p.direitos {
        text-align: center;
        margin-top: 40px;
    }


   /* Fim estilo Footer (rodapé) */
   /* Início estilo Vídeos */
.embed-container {
    position: relative;
    padding-bottom: 0;
    height: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
 
 }
 .embed-container p {
    text-align: center;
    font-size: 20px;
 }
 .embed-container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
 
 }
 .embed-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-radius: 1em;
    box-shadow: #a09595;
    transition: transform .3s;
    display: flex;    
 }
 .embed-container iframe:hover {
    flex: 1;
    z-index: 1;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(rgb(143, 2, 2), rgb(60, 0, 128), rgb(3, 3, 99), alpha);
    }
    .embed-container .col-lg-4 {
     margin-top: 30px;
    }
    .embed-container .col-lg-6 {
        margin-top: 30px; 
    }
     
  /* Fim estilo Vídeos */
  /* Início estilo contato */





  .contact {
    padding: 70px 0px;
    background: #690a0a;
  }
  .section-title h2 {
    color: #da5353cc;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom:  5px solid #690a0a;
    padding-bottom: 10px;
    display: inline-block;
  }
  .section-title p {
    color: #ffffff;
    margin-bottom: 30px;    
  }
  .contact input,
  .contact textarea {
    background: #000000;
  }
  .contact textarea{
    min-height: 188px;
    max-width: 100%;
  }
  .contact .map {
    overflow: hidden;
    border-radius: 4px;
    height: 70%;
  }
 
  /* Início estilo Market Place */
  .market-place {
    height: 180px;
    width: 100%;
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 10%;
  }
  .market-place img {
    height: 160%;
    width: 80%;
  }




  /* Fim estilo Market Place */

   /* Fim estilo contato */

   /* Início estilo Produtos */
  .col-lg-4 .card {
    border-style: none;
    border: 0px;
    min-height: 300px;
  }
  .text-center .mb-5 {
    margin-top: 20px;
  }
  .card img {
    /* height: auto; */
    width: auto;
    max-height: 300px;     
  }
 card.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%; 
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: local;
  }
  .hover-overlay .mask { 
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .hover-overlay .mask:hover {
    opacity: 1;
  }
  .card-body .btn {
    background-color:  #690101ec; /* cor do botão */
    color: #000000; /*cor do texto do botão */
    font-weight: 400; /* espessura do botão ex.negrito = bold */
    border: none;
    outline: 0px solid transparente;

  }




   
   /* Fim estilo Produtos */